body {
  font-family: Arial, Helvetica, sans-serif;
}

.category {
  margin-bottom: 20px
}

.category-title {
  font-weight: bold;
  margin-bottom: 6px;
}

.group {
  margin-left: 20px;
}

#startBtn {
  /* margin-block-end: 10px; */
  font-size: 2em;       /* text size */
  padding: 20px 40px;   /* inner spacing */
  margin: 10px;         /* space around buttons */
  cursor: pointer;      /* makes cursor a pointer */
  border-radius: 8px;   /* rounded corners */
}