/* Container for all videos */
#videoContainer {
  display: flex;       /* horizontal layout on PCs */
  flex-wrap: wrap;     /* wrap to next line if not enough space */
  gap: 10px;           /* space between videos */
  justify-content: start;
  margin-top: 10px;
}

/* Video wrapper */
.video-wrapper video {
  width: 300px;        /* default PC size */
  max-width: 100%;     /* prevent overflow on smaller screens */
}

/* Mobile layout */
@media screen and (max-width: 768px) {
  #videoContainer {
    flex-direction: column; /* stack videos vertically */
    align-items: center;
  }
  .video-wrapper video {
    width: 90%;             /* almost full width of screen */
    margin-bottom: 10px;
  }
}

.category-title {
  cursor: pointer;
}

button {
  font-size: 2em;       /* text size */
  padding: 20px 40px;   /* inner spacing */
  margin: 10px;         /* space around buttons */
  cursor: pointer;      /* makes cursor a pointer */
  border-radius: 8px;   /* rounded corners */
}